<div class="w-3/12">
  <div class="flex flex-col">
    <%= link_to dashboard_path, class: "pb-4 mb-1 rounded font-semibold items-center hover:bg-yellow-500 py-4 p-2" do%>
      <span class="">Dashboard</span>
    <%end%>
    <%= link_to dashboard_jobs_path, class: "pb-4 mb-1 font-semibold rounded hover:bg-yellow-500 py-4 p-2" do%>
      <span>My Jobs</span>
    <%end%>
    <%= link_to dashboard_company_path(@company), class: "pb-4 mb-1 rounded font-semibold hover:bg-yellow-500 py-4 p-2" do%>
      <span>My Company</span>
    <%end%>
  </div>
</div>