<div class="w-3/12">
  <div class="flex flex-col">
    <%= link_to root_path, class: "pb-4 mb-2 rounded hover:bg-yellow-500" do%>
      <span class="">Home</span>
    <%end%>
    <%= link_to root_path, class: "pb-4 mb-2 rounded hover:bg-yellow-500" do%>
      <span>My Company</span>
    <%end%>
    <%= link_to weekly_jobs_path, class: "pb-4 mb-2 rounded hover:bg-yellow-500" do%>
      <span>My Jobs</span>
     
    <%end%>
  </div>
</div>