<div class="w-full flex">
  <div class="">
    <p>Create a new job for you Company</p> <br/>
    <span class="md:ml-2 bg-red-500 rounded text-white p-1 md:p-3 font-semibold ">
    <%= link_to 'New Job', new_dashboard_job_path %>
    </span>
  </div>
<div>