!.keep
*.DS_Store
*.swo
*.swp
.byebug_history
/.bundle
/.env
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/node_modules
/log
/public/assets
/public/packs
/public/packs-test
/public/system
/tags
/tmp/*
/yarn-error.log

# Ignore master key for decrypting credentials and more.
/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/app/assets/builds/*
!/app/assets/builds/.keep
