<h1>Welcome to Anity Jobs, <%= @user.email %></h1>
  <p>
    You have successfully signed up to example.com,
    your username is: <%= @user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>