<%= render partial: '/jobs/search_form' %>

<div class="w-11/12 md:w-1/2 mx-auto">
  <%= render partial: '/shared/job_preview', collection: @jobs, as: :job %>
<div>

<div class="hidden">
<% if current_user %>
  <%= button_to t("layouts.application.sign_out"), sign_out_path , method: :delete %>
<% else %>
  <%= link_to t("layouts.application.sign_in"), sign_in_path %>
<% end %>
</div>