<div class="w-1/2 mx-auto font-sans text-gray-800 font-light">
<div>
  <div class="job-title py-2 mb-4">
    <p class="text-gray-600">Posted: <%= @job.created_at.strftime("%Y-%m-%d")%></p>
    <p class="text-3xl font-bold my-2"><%=@job.title%></p>
    <p class="mb-2">Location: Congo🇨🇩</p>
    <div class="flex">
      <span class="text-gray-600 underline mr-2">Skills</span>
      <span class="text-gray-600 underline mr-2">Skills</span>
      <span class="text-gray-600 underline">Skills</span>
    </div>
  </div>
  <%= @job.description%>
  <div class="apply-button my-4 py-4">
    <%= link_to "Apply for thi position", @job.application_url, target: :_blank, class:"bg-red-500 text-white p-3 font-semibold" %>
  </div>
</div>
</div>