<div class="w-full">
  <h1 class="font-bold ">Welcome to Anity jobs</h1>
</div>

<div class="w-full my-4">
  <%= link_to 'create Company', new_company_path , class: "bg-yellow-300 rounded p-2 font-bold" %>
</div>

<div>
<% if current_user%>
  <%= button_to t('layouts.application.sign_out'), sign_out_path, method: :delete %>
<%else%>
  <%= link_to t('layouts.application.sign_in'), sign_in_path %>
<%end%>
</div>