<div id="clearance" class="sign-up w-11/12 md:w-1/2 mx-auto">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/users/form'%>

  <div class="other-links flex flex-col w-1/2 my-2">
    <%= link_to t(".sign_in"), sign_in_path, class:"underline font-bold mb-2" %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>

</div>
