<div class="flex w-full">
  <%= render partial: '/dashboard/left_bar' %>
  <div class="w-6/12">
    <h1><%= t(".page_title") %></h1>
    <%= render partial: '/dashboard/jobs/form', locals: { url: dashboard_job_path(@job), method: :put}%>
  </div>
</div>